* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 4vh 8vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(233, 249, 255);
  color: #494949;
}

#root {
  background-color: white;
  padding: 2vh 2vw;
  min-height: 92vh;
}