* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 4vh 8vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(233, 249, 255);
  color: #494949;
}

#root {
  background-color: white;
  padding: 2vh 2vw;
  min-height: 92vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  padding: 1vh 1vw;
  background-color: rgb(254, 254, 254);
  border: 1px solid #494949;
  border-radius: 8px;
  width: 74vw;
  min-height: 10vh;
}

h3 {
  margin-bottom: 1vh;
  font-weight: 100;
  border-bottom: 2px solid rgb(0, 204, 255);
  width: max-content;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-left: 3vw;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

form button {
  display: block;
  margin: 0 auto;
}

button,
input {
  padding: 4px;
  color: #494949;
}
